/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
body {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


body{
	margin: 0px auto;
	width: 85%;
	position: relative;
	box-sizing: border-box;
}


header{
	margin-top: 25px;
}

nav a{
	text-decoration: none;
	color: grey;
	padding: 30px;
}


header nav img{
	position: absolute;
	display: inline;
	vertical-align: middle;
	left: 85%;
	bottom: 93%;
}

header section {
	margin-left: 50%;
	margin-top: -100px;
	padding-bottom: 50px;
}

header section h1{
	font-size: 60px;
	text-align: center;
}

.innovation{
	position: relative;
    bottom: -289px;
	left: -560px;
}

header section button{
	position: relative;
	left: -313px;
	bottom: 70px;
	font-size: 20px;
	border: 1px solid black;
	background: white;
	padding: 0px 30px;
}

.upper-content{
	border-top: 1px solid black;
	font-size: 18px;
	padding: 25px 0px;
}

.bottom-content{
	font-size: 18px;
	padding: 5px 0px;
}

.upper-content p{
	padding-bottom: 20px;
	
}

.features{
	width: 40%;
	margin-bottom: 5px;
}

.about{
    margin-left: 801px;
    width: 40%;
	margin-top: -114px;
}

.middle-img{
	margin-left: 207px;
}

.bottom-content{
	display: inline-block;
}

.services{
	width: 30%;
	text-align: center;
}

.product{
	width: 30%;
	text-align: center;
	margin-left: 467px;
	margin-bottom: 50px;
	margin-top: -131px;
}

.vision{
	width: 30%;
	text-align: center;
	margin-left: 935px;
	margin-top: -179px;
}

.copyright{
	margin-top: 50px;
	margin-left: 574px;
}

footer{
	margin-top: 150px;
	border-top: 1px solid black;
	padding: 60px 0px;
}