/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
body {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


body{
	margin: 0px auto;
	width: 85%;
	position: relative;
	box-sizing: border-box;
}

header{
	margin-top: 25px;
}

nav a{
	text-decoration: none;
	color: grey;
	padding: 30px;
}

header nav img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 350px;
}

header section h1{
	font-size: 80px;
	text-align: center;
}

.innovationAndImg{
	display: inline-block;
	margin: 50px 0px;
}

.innovation{
	display: inline-block;
	margin-left: 150px;
	padding-left: 75px;
    padding-bottom: 20px;
}


.innovationAndImg img{
	display: inline-block;
	margin-left: 350px;
}

.innovationAndImg button{
	font-size: 20px;
		border: 1px solid black;
		background: white;
		padding: 5px 30px;
		margin-left: 70px;
}

.upper-content{
	display: inline-block;
	border-top: 1px solid black;
	padding-top: 50px;
}

.features{
	display: inline-block;
	width: 45%;
}

.about{
	display: inline-block;
	width: 45%;
	padding-left: 130px;
}

.middle-img{
	width: 100%;
	padding: 25px 0px;
}

.bottom-content{
 display: inline-block;
 padding-bottom: 40px;
 border-bottom: 1px solid black;
}

.services{
	display: inline-block;
	width: 25%;
	padding: 0px 80px 0px 0px;
}

.product{
	display: inline-block;
	width: 25%;
	padding: 0px 80px;
}

.vision{
	display: inline-block;
	width: 25%;
	padding: 0px 0px 0px 80px;
}

footer{
	padding-top: 40px;
	
}
address{
	padding-bottom: 50px;
}
address p{
padding: 5px;
}

small{
	margin-left: 512px;
	padding-bottom: 50px;
}